# Ranking de deportistas mejor pagados

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [30]:
## Cargando datos y viendo el tipo de datos de cada columna
df_inicial = pd.read_csv('data/atletas_info.csv')
df_inicial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   S.NO                  301 non-null    int64
 1   Name                  301 non-null    object
 2   Nationality           301 non-null    object
 3   Current Rank          301 non-null    int64
 4   Previous Year Rank    277 non-null    object
 5   Sport                 301 non-null    object
 6   Year                  301 non-null    int64
 7   earnings ($ million)  301 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 18.9+ KB

In [65]:
df_inicial.fillna({'Previous Year Rank': 'N/A'}, inplace=True)   #Rellenando los valores faltantes con N/A
df_inicial['Sport'] = df_inicial['Sport'].str.capitalize()       #Capitalizando la categóría deportes
df_inicial.head()

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
0,1,Mike Tyson,USA,1,N/A,Boxing,1990,28.6
1,2,Buster Douglas,USA,2,N/A,Boxing,1990,26.0
2,3,Sugar Ray Leonard,USA,3,N/A,Boxing,1990,13.0
3,4,Ayrton Senna,Brazil,4,N/A,Auto racing,1990,10.0
4,5,Alain Prost,France,5,N/A,Auto racing,1990,9.0

### Pregunta 1. Deportistas cuyo ranking ha subido al menos dos lugares entre 2010 y 2020.

In [13]:
df = df_inicial[df_inicial['Year'] >= 2010]  # Filtrando el dataset únicamente para los años entre 2010 y 2020
atletas = df['Name'].unique()



deportes = list()
ranking2010 = list()
ranking2011 = list()
ranking2012 = list()
ranking2013 = list()
ranking2014 = list()
ranking2015 = list()
ranking2016 = list()
ranking2017 = list()
ranking2018 = list()
ranking2019 = list()
ranking2020 = list()


for atleta in atletas:
    #Deporte
    
    d =df[(df['Name']==atleta)]
    
    d = d.iloc[0].values
    deporte = d[5] #Deporte
    deportes.append(deporte) #LLena la lista deportes de acuerdo al atleta del ciclo for
    
    ## 2010
    try:
        r =df[(df['Name']==atleta) & (df['Year']==2010)]
        r = r.iloc[0].values
        ranking = r[3]
        ranking2010.append(ranking)
    except:
        ranking = '-'
        ranking2010.append(ranking)

    ## 2011
    try:
        r =df[(df['Name']==atleta) & (df['Year']==2011)]
        r = r.iloc[0].values
        ranking = r[3]
        ranking2011.append(ranking)
    except:
        ranking = '-'
        ranking2011.append(ranking)

    ## 2012
    try:
        r =df[(df['Name']==atleta) & (df['Year']==2012)]
        r = r.iloc[0].values
        ranking = r[3]
        ranking2012.append(ranking)
    except:
        ranking = '-'
        ranking2012.append(ranking)


    ## 2013
    try:
        r =df[(df['Name']==atleta) & (df['Year']==2013)]
        r = r.iloc[0].values
        ranking = r[3]
        ranking2013.append(ranking)
    except:
        ranking = '-'
        ranking2013.append(ranking)

    ## 2014
    try:
        r =df[(df['Name']==atleta) & (df['Year']==2014)]
        r = r.iloc[0].values
        ranking = r[3]
        ranking2014.append(ranking)
    except:
        ranking = '-'
        ranking2014.append(ranking)

    ## 2015
    try:
        r =df[(df['Name']==atleta) & (df['Year']==2015)]
        r = r.iloc[0].values
        ranking = r[3]
        ranking2015.append(ranking)
    except:
        ranking = '-'
        ranking2015.append(ranking)

    ## 2016
    try:
        r =df[(df['Name']==atleta) & (df['Year']==2016)]
        r = r.iloc[0].values
        ranking = r[3]
        ranking2016.append(ranking)
    except:
        ranking = '-'
        ranking2016.append(ranking)
    
    ## 2017
    try:
        r =df[(df['Name']==atleta) & (df['Year']==2017)]
        r = r.iloc[0].values
        ranking = r[3]
        ranking2017.append(ranking)
    except:
        ranking = '-'
        ranking2017.append(ranking)

    ## 2018
    try:
        r =df[(df['Name']==atleta) & (df['Year']==2018)]
        r = r.iloc[0].values
        ranking = r[3]
        ranking2018.append(ranking)
    except:
        ranking = '-'
        ranking2018.append(ranking)

    ## 2019
    try:
        r =df[(df['Name']==atleta) & (df['Year']==2019)]
        r = r.iloc[0].values
        ranking = r[3]
        ranking2019.append(ranking)
    except:
        ranking = '-'
        ranking2019.append(ranking)

    ## 2020
    try:
        r =df[(df['Name']==atleta) & (df['Year']==2020)]
        r = r.iloc[0].values
        ranking = r[3]
        ranking2020.append(ranking)
    except:
        ranking = '-'
        ranking2020.append(ranking)


df_aux = pd.DataFrame({'Nombre': atletas,
                        'Deporte': deportes,
                        '2010': ranking2010,
                        '2011': ranking2011,
                        '2012': ranking2012,
                        '2013': ranking2013,
                        '2014': ranking2014,
                        '2015': ranking2015,
                        '2016': ranking2016,
                        '2017': ranking2017,
                        '2018': ranking2018,
                        '2019': ranking2019,
                        '2020': ranking2020})



df_aux.to_csv('data/atletas_info_aux.csv', index=False)  

df_aux = pd.read_csv('data/atletas_info_aux.csv')
 

## Este códigpo es para mostrar el ranking máximo y mínimo de cada atleta
atletas = df_aux['Nombre'].values
atletas
max_ranking_list = list()
min_ranking_list = list()
#año_max_ranking_list = list()
#año_min_ranking_list = list()


for i in range(len(atletas)):
    atleta_info = df_aux.iloc[i,:]
    max_ranking = None
    min_ranking = None
    

    for i in range(len(atleta_info)):
        ranking = atleta_info[i]
        try:
            ranking = int(ranking)
            if max_ranking == None:
                max_ranking = ranking
            elif ranking < max_ranking:
                max_ranking = ranking 
                #año_max = atleta_info.index[i]

            if min_ranking == None:
                min_ranking = ranking
            elif ranking > min_ranking:
                min_ranking = ranking
                #año_min = atleta_info.index[i]
        except:
            pass
    max_ranking_list.append(max_ranking)
    min_ranking_list.append(min_ranking)
 
df_aux['Max_Ranking'] = max_ranking_list

df_aux['Min_Ranking'] = min_ranking_list

df_aux.to_csv('data/atletas_info_aux2.csv', index=False)

df_aux.head(35)

,Nombre,Deporte,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,Max_Ranking,Min_Ranking
0,Tiger Woods,Golf,1,1,3,1,6,9,-,-,-,-,8,1,9
1,Floyd Mayweather,Boxing,2,-,1,-,1,1,-,-,1,-,-,1,2
2,Kobe Bryant,Basketball,3,2,6,3,5,10,10,-,-,-,-,2,10
3,Phil Mickelson,Golf,4,5,7,7,8,8,8,-,-,-,-,4,8
4,David Beckham,Soccer,5,6,8,8,-,-,-,-,-,-,-,5,8
5,Roger Federer,Tennis,6,4,5,2,7,5,4,4,7,5,1,1,7
6,LeBron James,Basketball,7,3,4,4,3,6,3,2,6,8,5,2,8
7,Manny Pacquiao,Boxing,8,-,2,-,-,2,-,-,-,-,-,2,8
8,Eli Manning,American football,9,-,-,-,-,-,-,-,-,-,-,9,9
9,Terrell Suggs,American football,10,-,-,-,-,-,-,-,-,-,-,10,10
10,Cristiano Ronaldo,Soccer,-,7,9,9,2,3,1,1,3,2,2,1,9
11,Alex Rodriguez,Baseball,-,8,-,-,-,-,-,-,-,-,-,8,8
12,Michael Schumacher,F1 racing,-,9,-,-,-,-,-,-,-,-,-,9,9
13,Lionel Messi,Soccer,-,10,-,10,4,4,2,3,2,1,3,1,10
14,Peyton Manning,American football,-,-,10,-,-,-,-,-,-,-,-,10,10
15,Drew Brees,American football,-,-,-,5,-,-,-,-,-,-,-,5,5
16,Aaron Rodgers,American football,-,-,-,6,-,-,-,-,-,-,-,6,6
17,Rafael Nadal,Tennis,-,-,-,-,9,-,-,-,-,-,-,9,9
18,Matt Ryan,American football,-,-,-,-,10,-,-,-,9,-,-,9,10
19,Kevin Durant,Basketball,-,-,-,-,-,7,5,5,-,10,7,5,10
20,Novak Djokovic,Tennis,-,-,-,-,-,-,6,-,-,-,-,6,6
21,Cam Newton,American football,-,-,-,-,-,-,7,-,-,-,-,7,7
22,Jordan Spieth,Golf,-,-,-,-,-,-,9,-,-,-,-,9,9
23,Andrew Luck,American football,-,-,-,-,-,-,-,6,-,-,-,6,6
24,Rory McIlroy,Golf,-,-,-,-,-,-,-,6,-,-,-,6,6
25,Stephen Curry,Basketball,-,-,-,-,-,-,-,8,8,9,6,6,9
26,James Harden,Basketball,-,-,-,-,-,-,-,9,-,-,-,9,9
27,Lewis Hamilton,Auto racing,-,-,-,-,-,-,-,10,-,-,-,10,10
28,Conor McGregor,Mma,-,-,-,-,-,-,-,-,4,-,-,4,4
29,Neymar,Soccer,-,-,-,-,-,-,-,-,5,3,4,3,5
30,Matthew Stafford,American football,-,-,-,-,-,-,-,-,10,-,-,10,10
31,Canelo Alvarez,Boxing,-,-,-,-,-,-,-,-,-,4,-,4,4
32,Russell Wilson,American football,-,-,-,-,-,-,-,-,-,6,-,6,6
33,Aaron Rogers,American football,-,-,-,-,-,-,-,-,-,7,-,7,7
34,Kirk Cousins,American football,-,-,-,-,-,-,-,-,-,-,9,9,9

### Pregunta 2. Atleta con el menor número de apariciones y mayores ganancias.

In [14]:
# Primero se suman las ganancias de todos los atletas
df_agrupado_ganancias = df_inicial.groupby(["Name"]).sum()
df_agrupado_ganancias.drop(['S.NO','Year','Current Rank'], axis=1,inplace=True)
df_agrupado_ganancias.reset_index(inplace=True)
df_agrupado_ganancias

               Name  earnings ($ million)
0     Aaron Rodgers                  49.0
1      Aaron Rogers                  89.3
2       Alain Prost                  36.0
3    Alex Rodriguez                 116.2
4      Andre Agassi                 105.8
..              ...                   ...
77    Terrell Suggs                  38.3
78      Tiger Woods                1373.8
79        Tom Brady                  29.0
80  Valentino Rossi                 128.0
81    Wayne Gretzky                  28.0

[82 rows x 2 columns]

In [52]:
# Despúes se hace el recuento de cuantas veces apareció cada atleta
df_agrupado_apariciones = df_inicial.groupby(["Name"]).count()  #Se agrupa por nombre y se cuenta cuantas veces apareció
df_agrupado_apariciones.reset_index(inplace=True) 
df_agrupado_apariciones.drop(['Year','Current Rank','Nationality','Previous Year Rank','Sport','earnings ($ million)'], axis=1, inplace=True) #Se eliminan columnas no deseadas
df_agrupado_apariciones

               Name  S.NO
0     Aaron Rodgers     1
1      Aaron Rogers     1
2       Alain Prost     3
3    Alex Rodriguez     4
4      Andre Agassi     6
..              ...   ...
77    Terrell Suggs     1
78      Tiger Woods    19
79        Tom Brady     1
80  Valentino Rossi     4
81    Wayne Gretzky     2

[82 rows x 2 columns]

In [20]:
#Por último se combinan las dos tablas
df_menos_apariciones_mas_ingresos = pd.merge(df_agrupado_ganancias, df_agrupado_apariciones, on="Name") #Se une las dos tablas
df_menos_apariciones_mas_ingresos.rename(columns = {'S.NO':'Apariciones'}, inplace = True)
df_menos_apariciones_mas_ingresos = df_menos_apariciones_mas_ingresos[df_menos_apariciones_mas_ingresos['Apariciones'] == 1] #Se filtra por apariciones igual a 1
df_menos_apariciones_mas_ingresos.sort_values(by=['earnings ($ million)'], ascending=False, inplace=True) #Se ordena por ingresos
df_menos_apariciones_mas_ingresos.head()

              Name  earnings ($ million)  Apariciones
13  Conor McGregor                  99.0            1
10  Canelo Alvarez                  94.0            1
71  Russell Wilson                  89.5            1
1     Aaron Rogers                  89.3            1
42    Kirk Cousins                  60.5            1

### Pregunta 3: Deporte y país con mayor número de atletas no rankeados que entraron en la lista de atletas mejor pagados.

In [86]:
df_inicial

deportistas = df_inicial['Name'].unique()
deportistas


nacionalidades = list()
deportes = list()
ingresos = list()
for deportista in deportistas:
    r =df_inicial[(df_inicial['Name']==deportista)]
    r = r.iloc[0].values
    nacionalidad = r[2]
    deporte = r[5]
    ingreso = r[7]
    nacionalidades.append(nacionalidad)
    deportes.append(deporte)
    ingresos.append(ingreso)

    
    
df_aux = pd.DataFrame({'Name': deportistas,
                        'Nacionalidad': nacionalidades,
                        'Deporte': deportes,
                        'Ingresos': ingresos})
                          
df_aux

                 Name Nacionalidad            Deporte  Ingresos
0          Mike Tyson          USA             Boxing      28.6
1      Buster Douglas          USA             Boxing      26.0
2   Sugar Ray Leonard          USA             Boxing      13.0
3        Ayrton Senna       Brazil        Auto racing      10.0
4         Alain Prost       France        Auto racing       9.0
..                ...          ...                ...       ...
77     Canelo Alvarez       Mexico             Boxing      94.0
78     Russell Wilson          USA  American football      89.5
79       Aaron Rogers          USA  American football      89.3
80       Kirk Cousins          USA  American football      60.5
81       Carson Wentz          USA  American football      59.1

[82 rows x 4 columns]

In [87]:
# Despúes se hace el recuento de cuantas veces apareció cada atleta
df_agrupado_apariciones = df_inicial.groupby(["Name"]).count()  #Se agrupa por nombre y se cuenta cuantas veces apareció
df_agrupado_apariciones.reset_index(inplace=True) 
df_agrupado_apariciones.drop(['Year','Current Rank','Nationality','Previous Year Rank','Sport','earnings ($ million)'], axis=1, inplace=True) #Se eliminan columnas no deseadas
df_agrupado_apariciones

#Juntando las dos tablas
df_menos_apariciones_mas_ingresos = pd.merge(df_aux, df_agrupado_apariciones, on="Name") #Se une las dos tablas
df_menos_apariciones_mas_ingresos

                 Name Nacionalidad            Deporte  Ingresos  S.NO
0          Mike Tyson          USA             Boxing      28.6     8
1      Buster Douglas          USA             Boxing      26.0     1
2   Sugar Ray Leonard          USA             Boxing      13.0     4
3        Ayrton Senna       Brazil        Auto racing      10.0     4
4         Alain Prost       France        Auto racing       9.0     3
..                ...          ...                ...       ...   ...
77     Canelo Alvarez       Mexico             Boxing      94.0     1
78     Russell Wilson          USA  American football      89.5     1
79       Aaron Rogers          USA  American football      89.3     1
80       Kirk Cousins          USA  American football      60.5     1
81       Carson Wentz          USA  American football      59.1     1

[82 rows x 5 columns]

In [90]:
#Juntando las dos tablas
df_menos_apariciones_mas_ingresos = pd.merge(df_aux, df_agrupado_apariciones, on="Name") #Se une las dos tablas
df_menos_apariciones_mas_ingresos

df_menos_apariciones_mas_ingresos.rename(columns={'S.NO':'Apariciones',
                        },
               inplace=True)
df_menos_apariciones_mas_ingresos.head()
df_menos_apariciones_mas_ingresos = df_menos_apariciones_mas_ingresos[df_menos_apariciones_mas_ingresos['Apariciones'] == 1]
df_menos_apariciones_mas_ingresos.sort_values(by=['Ingresos'], ascending=False, inplace=True)
df_menos_apariciones_mas_ingresos.head(10)

                Name Nacionalidad            Deporte  Ingresos  Apariciones
74    Conor McGregor      Ireland                Mma      99.0            1
77    Canelo Alvarez       Mexico             Boxing      94.0            1
78    Russell Wilson          USA  American football      89.5            1
79      Aaron Rogers          USA  American football      89.3            1
80      Kirk Cousins          USA  American football      60.5            1
76  Matthew Stafford          USA  American football      59.5            1
81      Carson Wentz          USA  American football      59.1            1
66    Novak Djokovic       Serbia             Tennis      55.8            1
47      Muhammad Ali          USA             Boxing      55.0            1
67        Cam Newton          USA  American football      53.1            1

### Pregunta 4: País con mayor número de deportes con atletas en el dataset.


### Pregunta 5: ¿Cuántos atletas por deporte tiene cada país?


### Pregunta 6: Ganancia mínima y máxima (dentro del dataset) por deporte y por país.

In [91]:
## Acomodando la tabla inicial para que sea más fácil de trabajar

df_aux = df_inicial.sort_values(by=['Nationality','Sport'], ascending=[True,True])  
df_aux.drop(columns = 'S.NO',inplace=True)
titles = df_aux.columns.tolist()
df_aux = df_aux[['Nationality','Sport','Name','Current Rank','Previous Year Rank','Year','earnings ($ million)']]
df_aux.head(50)

,Nationality,Sport,Name,Current Rank,Previous Year Rank,Year,earnings ($ million)
210,Argentina,Soccer,Lionel Messi,10,>20,2011,32.3
230,Argentina,Soccer,Lionel Messi,10,11,2013,41.3
234,Argentina,Soccer,Lionel Messi,4,10,2014,64.7
244,Argentina,Soccer,Lionel Messi,4,4,2015,73.8
252,Argentina,Soccer,Lionel Messi,2,4,2016,81.4
263,Argentina,Soccer,Lionel Messi,3,2,2017,80.0
272,Argentina,Soccer,Lionel Messi,2,3,2018,111.0
281,Argentina,Soccer,Lionel Messi,1,2,2019,127.0
293,Argentina,Soccer,Lionel Messi,3,1,2020,104.0
6,Australia,Golf,Greg Norman,7,N/A,1990,8.5
44,Austria,Auto racing,Gerhard Berger,5,30,1994,13.5
3,Brazil,Auto racing,Ayrton Senna,4,N/A,1990,10.0
14,Brazil,Auto racing,Ayrton Senna,5,4,1991,13.0
22,Brazil,Auto racing,Ayrton Senna,3,5,1992,22.0
32,Brazil,Auto racing,Ayrton Senna,3,3,1993,18.5
169,Brazil,Soccer,Ronaldinho,9,>10,2007,31.0
178,Brazil,Soccer,Ronaldinho,8,9,2008,37.0
275,Brazil,Soccer,Neymar,5,18,2018,90.0
283,Brazil,Soccer,Neymar,3,5,2019,105.0
294,Brazil,Soccer,Neymar,4,3,2020,95.5
119,Canada,Auto racing,Jacques Villeneuve,10,>10,2002,20.0
130,Canada,Auto racing,Jacques Villeneuve,10,10,2003,23.0
16,Canada,Boxing,"Donovan ""Razor"" Ruddock",7,>30,1991,10.2
78,Canada,Hockey,Joe Sakic,9,none,1997,17.9
45,Canada,Ice hockey,Wayne Gretzky,5,22,1994,13.5
59,Canada,Ice hockey,Wayne Gretzky,10,5,1995,14.5
208,Dominican,Baseball,Alex Rodriguez,8,12,2011,35.0
212,Filipino,Boxing,Manny Pacquiao,2,24,2012,62.0
164,Finland,F1 racing,Kimi Raikkonen,4,>10,2007,40.0
175,Finland,F1 racing,Kimi Raikkonen,5,4,2008,44.0
184,Finland,F1 racing,Kimi Raikkonen,2,5,2009,45.0
4,France,Auto racing,Alain Prost,5,N/A,1990,9.0
15,France,Auto racing,Alain Prost,6,5,1991,11.0
33,France,Auto racing,Alain Prost,4,>40,1993,16.0
58,Germany,Auto racing,Michael Schumacher,9,30,1995,15.0
90,Germany,Auto racing,Michael Schumacher,1,2,1999,49.0
100,Germany,Auto racing,Michael Schumacher,1,1,2000,59.0
62,Germany,F1 motorsports,Michael Schumacher,3,9,1996,33.0
73,Germany,F1 motorsports,Michael Schumacher,4,3,1997,35.0
81,Germany,F1 motorsports,Michael Schumacher,2,N/A,1998,38.0
111,Germany,F1 motorsports,Michael Schumacher,2,1,2002,67.0
122,Germany,F1 motorsports,Michael Schumacher,2,2,2003,75.0
132,Germany,F1 racing,Michael Schumacher,2,2,2004,80.0
142,Germany,F1 racing,Michael Schumacher,2,2,2005,60.0
152,Germany,F1 racing,Michael Schumacher,2,2,2006,58.0
165,Germany,F1 racing,Michael Schumacher,5,2,2007,36.0
209,Germany,F1 racing,Michael Schumacher,9,>20,2011,34.0
274,Ireland,Mma,Conor McGregor,4,24,2018,99.0
150,Italy,Motorcycle gp,Valentino Rossi,9,>10,2005,28.0
158,Italy,Motorcycle gp,Valentino Rossi,8,9,2006,30.0

In [ ]:
#Creando una lista por cada uno valores de las columnas del nuevo dataframe que resolverá la pregunta
nacionalidades = list()
deportes_nacionalidad = list() 
atletas_por_deporte_nacionalidad = list()
ganancia_minima_nacionalidad = list()
ganancia_maxima_nacionalidad = list()

nacionalidades_total = [nacionalidad for nacionalidad,df_ in df_aux.groupby('Nationality')]  ## Lista de nacionalidades únicos
for nacionalidad in nacionalidades_total:
    nacionalidad_df =df_aux[(df_aux['Nationality']==nacionalidad)]  # Obteniendo un df unicamente de la nacionalidad del for
    deportes = [deporte for deporte,df_ in nacionalidad_df.groupby('Sport')] #Obteniendo una lisa con los deportes de cada nacionalidad
    
    for deporte in deportes:
        #Aqui se llena la lista de los campos que se quieren obtener
        nacionalidades.append(nacionalidad)
        deportes_nacionalidad.append(deporte)
        print(nacionalidad_df[(nacionalidad_df['Sport']==deporte)])
        atletas_por_deporte_nacionalidad.append(len(nacionalidad_df[(nacionalidad_df['Sport']==deporte)]))
        ganancia_minima_nacionalidad.append(nacionalidad_df[(nacionalidad_df['Sport']==deporte)]['earnings ($ million)'].min())
        ganancia_maxima_nacionalidad.append(nacionalidad_df[(nacionalidad_df['Sport']==deporte)]['earnings ($ million)'].max())

#Por último se obtiene el Dataframe final que responderá las preguntas 4 y 5    
df_aux2 = pd.DataFrame({'Nacionalidad': nacionalidades,
                        'Deporte': deportes_nacionalidad,
                        'Atletas': atletas_por_deporte_nacionalidad,
                        'Ganancia_Minima ($Million)': ganancia_minima_nacionalidad,
                        'Ganancia_Maxima  ($Million)': ganancia_maxima_nacionalidad})
                        
                       
df_aux2

In [118]:
#Creando una lista por cada uno valores de las columnas del nuevo dataframe que resolverá la pregunta
nacionalidades = list()
deportes_nacionalidad = list() 
atletas_por_deporte_nacionalidad = list()
ganancia_minima_nacionalidad = list()
ganancia_maxima_nacionalidad = list()

nacionalidades_total = [nacionalidad for nacionalidad,df_ in df_aux.groupby('Nationality')]  ## Lista de nacionalidades únicos
for nacionalidad in nacionalidades_total:
    nacionalidad_df =df_aux[(df_aux['Nationality']==nacionalidad)]  # Obteniendo un df unicamente de la nacionalidad del for
    deportes = [deporte for deporte,df_ in nacionalidad_df.groupby('Sport')] #Obteniendo una lisa con los deportes de cada nacionalidad
    


    atletas_por_deporte = list()
    for deporte in deportes:
        #Aqui se llena la lista de los campos que se quieren obtener
        nacionalidades.append(nacionalidad)
        deportes_nacionalidad.append(deporte)
        datos_nacion= nacionalidad_df[(nacionalidad_df['Sport']==deporte)]
        atletas = datos_nacion.iloc[0][2]
        atletas_por_deporte.append(atletas)
        atletas_por_deporte_nacionalidad.append(len(atletas_por_deporte))
        ganancia_minima_nacionalidad.append(nacionalidad_df[(nacionalidad_df['Sport']==deporte)]['earnings ($ million)'].min())
        ganancia_maxima_nacionalidad.append(nacionalidad_df[(nacionalidad_df['Sport']==deporte)]['earnings ($ million)'].max())

#Por último se obtiene el Dataframe final que responderá las preguntas 4 y 5    
df_aux2 = pd.DataFrame({'Nacionalidad': nacionalidades,
                        'Deporte': deportes_nacionalidad,
                        'Atletas': atletas_por_deporte_nacionalidad,
                        'Ganancia_Minima ($Million)': ganancia_minima_nacionalidad,
                        'Ganancia_Maxima  ($Million)': ganancia_maxima_nacionalidad})
                        
df_aux2

,Nacionalidad,Deporte,Atletas,Ganancia_Minima ($Million),Ganancia_Maxima ($Million)
0,Argentina,Soccer,1,32.3,127.0
1,Australia,Golf,1,8.5,8.5
2,Austria,Auto racing,1,13.5,13.5
3,Brazil,Auto racing,1,10.0,22.0
4,Brazil,Soccer,2,31.0,105.0
5,Canada,Auto racing,1,20.0,23.0
6,Canada,Boxing,2,10.2,10.2
7,Canada,Hockey,3,17.9,17.9
8,Canada,Ice hockey,4,13.5,14.5
9,Dominican,Baseball,1,35.0,35.0
10,Filipino,Boxing,1,62.0,62.0
11,Finland,F1 racing,1,40.0,45.0
12,France,Auto racing,1,9.0,16.0
13,Germany,Auto racing,1,15.0,59.0
14,Germany,F1 motorsports,2,33.0,75.0
15,Germany,F1 racing,3,34.0,80.0
16,Ireland,Mma,1,99.0,99.0
17,Italy,Motorcycle gp,1,28.0,35.0
18,Mexico,Boxing,1,94.0,94.0
19,Northern Ireland,Golf,1,50.0,50.0
20,Philippines,Boxing,1,40.0,160.0
21,Portugal,Soccer,1,38.0,109.0
22,Russia,Ice hockey,1,29.8,29.8
23,Serbia,Tennis,1,55.8,55.8
24,Spain,Tennis,1,44.5,44.5
25,Switzerland,Tennis,1,35.0,106.3
26,UK,Auto racing,1,9.0,46.0
27,UK,Soccer,2,28.0,50.0
28,USA,American football,1,29.0,89.5
29,USA,American football / baseball,2,22.5,22.5
30,USA,Auto racing,3,26.5,26.5
31,USA,Auto racing (nascar),4,20.0,24.5
32,USA,Baseball,5,12.7,29.0
33,USA,Basketball,6,8.1,89.0
34,USA,Boxing,7,8.1,300.0
35,USA,Cycling,8,28.0,28.0
36,USA,Golf,9,8.1,115.0
37,USA,Nascar,10,19.1,34.0
38,USA,Nba,11,15.2,15.2
39,USA,Nfl,12,9.5,16.5
40,USA,Tennis,13,8.5,28.2

### Pregunta 7: Atleta con mayores ganancias por deporte por década

In [151]:
deportes = df['Sport'].unique()
df_inicial.head(10)

deportista = list()
max_ingreso_90_atleta= list()
max_ingreso_00_atleta= list()
max_ingreso_10_atleta= list()

for deporte in deportes:
    try:
        #Decada 90
        df_90=df_inicial[(df_inicial['Year']>=1990) & (df_inicial['Year']<2000) & (df_inicial['Sport']==deporte)]
        max_90=df_90['earnings ($ million)'].max()
        deportista=df_inicial[(df_inicial['earnings ($ million)']==max_90)].iloc[0][1]
        max_ingreso_90_atleta.append(deportista)
    except:
        max_ingreso_90_atleta.append('No hay datos')
   
    try:
        #Decada 00
        df_00=df_inicial[(df_inicial['Year']>=2000) & (df_inicial['Year']<2010)& (df_inicial['Sport']==deporte)]
        max_00=df_00['earnings ($ million)'].max()
        deportista=df_inicial[(df_inicial['earnings ($ million)']==max_00)].iloc[0][1]
        max_ingreso_00_atleta.append(deportista)

    except:
        max_ingreso_00_atleta.append('No hay datos')

    try:   
        #Decada 10
        df_10=df_inicial[(df_inicial['Year']>=2010) & (df_inicial['Year']<=2020)& (df_inicial['Sport']==deporte)]
        max_10=df_10['earnings ($ million)'].max()
        deportista=df_inicial[(df_inicial['earnings ($ million)']==max_10)].iloc[0][1]
        max_ingreso_10_atleta.append(deportista)
        
    except:
        max_ingreso_00_atleta.append('No hay datos')

In [152]:
## Rellenando el dataset con las listas obtenidas
df_aux2 = pd.DataFrame({'Deporte': deportes,
                        '1990-1999': max_ingreso_90_atleta,
                        '2000-2009': max_ingreso_00_atleta,
                        '2010-2020': max_ingreso_10_atleta,
                        })
df_aux2

,Deporte,1990-1999,2000-2009,2010-2020
0,Golf,Tiger Woods,Tiger Woods,Tiger Woods
1,Boxing,Mike Tyson,Muhammad Ali,Floyd Mayweather
2,Basketball,Michael Jordan,Michael Jordan,LeBron James
3,Soccer,No hay datos,David Beckham,Lionel Messi
4,Tennis,Michael Jordan,Michael Schumacher,Roger Federer
5,American football,No hay datos,Peyton Manning,Russell Wilson
6,Baseball,Gary Sheffield,Lennox Lewis,Michael Schumacher
7,F1 racing,No hay datos,Michael Schumacher,Dale Earnhardt Jr.
8,Auto racing,Michael Schumacher,Michael Schumacher,Phil Mickelson
9,Mma,No hay datos,No hay datos,Conor McGregor

### Pregunta 8: Ganancia total por cada deporte por cada año.

In [150]:

df_ganancias = df_inicial.groupby(['Sport','Year']).sum()  ## Agrupando por año y deporte
df_ganancias.reset_index(inplace=True)
df_ganancias.drop(['S.NO','Current Rank'], axis=1, inplace=True) ## Eliminando columnas que no se necesitan
df_ganancias

                 Sport  Year  earnings ($ million)
0    American football  2004                  42.0
1    American football  2005                  37.5
2    American football  2006                  29.0
3    American football  2010                  78.2
4    American football  2012                  42.4
..                 ...   ...                   ...
171             Tennis  2016                 123.6
172             Tennis  2017                  64.0
173             Tennis  2018                  77.2
174             Tennis  2019                  93.4
175             Tennis  2020                 106.3

[176 rows x 3 columns]